/* Стилизация кнопки */

.button {
    display: inline-block;
    padding: 15px 15px;
    width: 189px;
    height: 48px;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
}

.button:disabled {
    pointer-event: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.button_primary {
    border: none;
    background: var(--primary);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button_primary:hover:enabled  {
    background: var(--primary-hover);
}

.button_primary:active:enabled  {
    background: var(--primary-hover);
}

.button_secondary {
    border: none;
    background: var(--secondary);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button_secondary:hover:enabled  {
    background: var(--secondary-hover);
}

.button_secondary:active:enabled  {
    background: var(--secondary-hover);
}

.button_alternate {
    border: 1px solid var(--grey-3);
    background: var(--white);
}

.button_alternate:hover:enabled {
    border: 1px solid var(--black);
}

.button_alternate:active:enabled {
    border: 1px solid var(--black);
}

.button__title {
    color: var(--white);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.button__title_alternate {
    color: var(--grey-4);
}