.toggler {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.toggler__input {
    position: absolute;
    outline: none;
    clip: rect(0,0,0,0);
}

.toggler__state {
    display: flex;
    align-items: center;
    gap: 12px;
}

.toggler__control {
    position: relative;
    box-sizing: border-box;
    width: 52px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 16px;
    padding: 2px 2px 2px 2px;
    transition: background-color 500ms ease, right 1000ms ease;
}

.toggler__inner {
    position: absolute;
    top: 1px;
    right: 24px;
    bottom: 1px;
    box-sizing: border-box;
    width: 50%;
    height: 24px;
    background-color: var(--grey-2);
    border-radius: 16px;
    transition: background-color 500ms ease, right 500ms ease;
}

.toggler__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.toggler__input:focus ~ .toggler__state .toggler__title {
    text-decoration: underline;
}

.toggler__input:checked ~ .toggler__state .toggler__control {
    background: var(--blue);
    border-color: var(--blue);
}

.toggler__input:checked ~ .toggler__state .toggler__control .toggler__inner-wrapper {
    width: 100%;
}

.toggler__input:checked ~ .toggler__state .toggler__control .toggler__inner {
    background: var(--white);
    right: 2px;
}

.toggler__input:disabled ~ .toggler__state .toggler__control {

    background: var(--grey-2);
    border-color: var(--grey-2);
}

.toggler__input:disabled ~ .toggler__state .toggler__control .toggler__inner {
    background: var(--grey-3);
}